<section class="loyaltyProgram">
  <div class="container">
    <div class="loyaltyProgram__inner swiper">
      <ul role="list" class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="loyaltyProgram__slide">
            <div class="loyaltyProgram__content">
              <h4 class="h2 text-black-primary mb-3">Vernostný program</h4>

              <p class="text-xl-2 text-black-secondary mb-5">
                Zaregistruj sa, získaj Šošon ID a odomkni exkluzívne výhody –
                rýchly nákup vstupeniek, správu permanentky a vždy čerstvé
                novinky z MŠK Žilina. Pretože byť Šošonom je viac než len
                futbal.
              </p>
              <a href="#" class="button-primary"> Stať sa členom </a>
            </div>
            <div class="loyaltyProgram__image">
              <img
                srcset="
                  https://picsum.photos/580/400  1x,
                  https://picsum.photos/1160/800 2x
                "
                alt="post"
                loading="lazy"
              />
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="loyaltyProgram__slide">
            <div class="loyaltyProgram__content">
              <h2 class="h2 text-black-primary mb-3">Permanentky</h2>

              <p class="text-xl-2 text-black-secondary mb-5">
                Získaj svoju permanentku a užívaj si všetky domáce zápasy
                pohodlne.
              </p>

              <a href="#" class="button-primary"> Kúpiť permanentku </a>
            </div>
            <div class="loyaltyProgram__image">
              <img
                srcset="
                  https://picsum.photos/580/400  1x,
                  https://picsum.photos/1160/800 2x
                "
                alt="post"
                loading="lazy"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="loyaltyProgram__slide">
            <div class="loyaltyProgram__content">
              <h4 class="h2 text-black-primary mb-3">Vernostný program</h4>

              <p class="text-xl-2 text-black-secondary mb-5">
                Zaregistruj sa, získaj Šošon ID a odomkni exkluzívne výhody –
                rýchly nákup vstupeniek, správu permanentky a vždy čerstvé
                novinky z MŠK Žilina. Pretože byť Šošonom je viac než len
                futbal.
              </p>
              <a href="#" class="button-primary"> Stať sa členom </a>
            </div>
            <div class="loyaltyProgram__image">
              <img
                srcset="
                  https://picsum.photos/580/400  1x,
                  https://picsum.photos/1160/800 2x
                "
                alt="post"
                loading="lazy"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="loyaltyProgram__slide">
            <div class="loyaltyProgram__content">
              <h4 class="h2 text-black-primary mb-3">Vernostný program</h4>

              <p class="text-xl-2 text-black-secondary mb-5">
                Zaregistruj sa, získaj Šošon ID a odomkni exkluzívne výhody –
                rýchly nákup vstupeniek, správu permanentky a vždy čerstvé
                novinky z MŠK Žilina. Pretože byť Šošonom je viac než len
                futbal.
              </p>
              <a href="#" class="button-primary"> Stať sa členom </a>
            </div>
            <div class="loyaltyProgram__image">
              <img
                srcset="
                  https://picsum.photos/580/400  1x,
                  https://picsum.photos/1160/800 2x
                "
                alt="post"
                loading="lazy"
              />
            </div>
          </div>
        </li>
      </ul>

      <div class="loyaltyProgram__bottom">
        <div class="swiper-pagination"></div>

        <div class="d-flex align-items-center me-1">
          <button class="swipe-prev" type="button" aria-label="Previous">
            {% include "@images/chevron-down.svg" %}
          </button>
          <button class="swipe-next" type="button" aria-label="Next">
            {% include "@images/chevron-down.svg" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
