<section class="static-section">
  <div class="container">
    <h1 class="h1 mb-md-20 mb-10">Nadpis H1</h1>
    <div class="o-content">
      <img srcset="https://picsum.photos/1180/500" alt="photo" />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <img srcset="https://picsum.photos/1180/100" alt="photo" />
      <h2>Nadpis H2</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <h3>Nadpis H3</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        <li>essentially unchanged.</li>
        <li>
          <a href="#"> Lorem ipsum dolor sit. </a>
        </li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>

      <h3>Nadpis H3</h3>
      <ol>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        <li>essentially unchanged.</li>
        <li>
          <a href="#"> Lorem ipsum dolor sit. </a>
        </li>
        <li>Lorem ipsum dolor sit.</li>
      </ol>
      <h4>Nadpis H4</h4>
      <h5>Nadpis H5</h5>
      <h6>Nadpis H6</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        aliquam totam possimus modi nesciunt beatae exercitationem repellendus
        omnis perferendis nulla.
      </p>
    </div>
    <div class="postsSlider swiper mt-md-15 mt-10">
      <div
        class="d-flex align-items-center justify-content-between mb-5 flex-wrap gap-4"
      >
        <h3 class="h1 text-black-primary">Business novinky</h3>

        <div class="d-flex align-items-center me-1">
          <button class="swipe-prev" type="button" aria-label="Previous">
            {% include "@images/chevron-down.svg" %}
          </button>
          <button class="swipe-next" type="button" aria-label="Next">
            {% include "@images/chevron-down.svg" %}
          </button>
        </div>
      </div>

      <ul
        role="list"
        class="swiper-wrapper infinite-scroll-swiper mb-lg-10 mb-6"
      >
        {% for i in 1..8 %}
        <li class="swiper-slide">
          {% include "@components/postCard/postCard.twig" %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
