<section class="matchDetail pt-10 pb-md-20 pb-15">
  <div class="container">
    <div class="tab-content" id="table-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-post"
        role="tabpanel"
        aria-labelledby="nav-post-tab"
      >
        <div class="row">
          <div class="col-lg-4">
            <ul class="d-flex flex-column gap-3 text-xl-2 text-black">
              <li>
                <strong>Góly:</strong> 6. Bari (vlastný gól), 43. Mrvaljević
              </li>
              <li>
                <strong>ŽK:</strong> 47. Roginić, 87. Ďatko - 34. Šiler, 85.
                Luka
              </li>
              <li><strong>Diváci</strong>: 1586</li>
              <li>
                <strong>Rozhodca:</strong> Dohál - Kmec, Hrebeňár (VAR: Ziemba)
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="h3 text-black mb-3">FK Železiarne Podbrezová</div>
            <p class="text-xl-3 text-black">
              Domaniský, Lampreht, Luka (C), Mielke, Kováčik, Š. Faško,
              Palumets, Khiminets, Šiler, Chyla, Mrvaljević
            </p>
            <p class="text-xl-3 text-black">
              <strong>Striedania:</strong> 86. Hakobyan, 76.Havrylenko, 76.
              Kujabi, 58. Silagadze, 58. Štefánik
            </p>
          </div>
          <div class="col-lg-4">
            <div class="h3 text-green mb-3">MŠK Žilina</div>
            <p class="text-xl-3 text-black">
              Sváček, Svoboda, Kaša, Minárik, Szánthó, Káčer (C) , Bzdyl, Bari,
              M. Faško, Juliš, Florea
            </p>
            <p class="text-xl-3 text-black">
              <strong>Striedania:</strong> 46. Mohammed, 46. Iľko, 77. Baleja,
              46. Roginić, 46. Ďatko
            </p>
          </div>
        </div>
        <hr class="my-lg-15 my-8" />
        <div class="text-base text-black-primary mb-5">12.05.2026</div>
        <h2 class="h1 mb-md-20 mb-10">
          MŠK Education | Takmer 200 účastníkov na veľkej trénerskej konferencii
        </h2>
        <img
          class="rounded-20 object-fit-cover w-100 mb-lg-15 mb-8"
          src="https://php.esports.cz/images/min.php?exact&topcut&w=1460&h=680&compresss=&mtime=1778612019&file=https://mskzilina.sk/foto/titulky/0M6A6062edu.jpg"
          alt="article"
        />
        <div class="o-content">
          <p>
            Do Žiliny zavítali známe mená, reprezentační tréneri aj osobnosti z
            ligových trávnikov. Veľká futbalová konferencia trénerov priniesla
            do Tréningového centra KIA v Gbeľanoch takmer dve stovky trénerov zo
            Slovenska, Česka či Poľska. Program priniesol tri nabité prednášky
            zahraničných odborníkov z Poľska, Nemecka a Holandska, pričom
            konferencia vyvrcholila a samotné prednášky spojila záverečná
            prednáška uznávaného športového kouča Mariana Jelínka.
          </p>
          <p>
            Aký bol 4. ročník Futbalovej konferencie trénerov pod hlavičkou MŠK
            Education?
          </p>
          <p>
            <a href="https://mskzilina.enigoo.sk/app/vstupenky" target="_blank"
              ><img
                src="https://www.mskzilina.sk/files/redactor/85ca267ecfc22f853173778328cdebdc.jpg"
                alt=""
                loading="lazy"
                style="
                  caret-color: rgb(17, 18, 18);
                  color: rgb(17, 18, 18);
                  font-family: ff-meta-web-pro, sans-serif;
                  font-size: 24px;
                  text-decoration-line: underline;
                  box-sizing: border-box;
                  vertical-align: middle;
                  border-style: none;
                  display: block;
                  margin: auto;
                "
            /></a>
          </p>
          <hr />
          <h2>Nielen počúvať, ale aj sa aktívne zapájať</h2>
          <p>
            Už štvrtýkrát sa zišli pod Dubňom&nbsp;pod hlavičkou MŠK Education
            tréneri z celého Slovenska i Česka na veľkej futbalovej konferencii
            trénerov, ktorá opäť priniesla kvalitný odborný program, inšpiráciu
            zo zahraničia a priestor na zdieľanie skúseností naprieč trénerskou
            komunitou. Šošoni si uvedomujú význam práce trénerov, ktorí stoja za
            tréningami v daždi, za víkendami na ihriskách a predovšetkým za
            rastom hráčov, ktorí raz reprezentujú klub, mesto, ale
            aj&nbsp;samotné Slovensko.&nbsp;
          </p>
          <p>
            Atmosféra od úvodu potvrdila, že konferencia nie je iba o počúvaní,
            ale najmä o aktívnom zapojení, diskusii a zdieľaní skúseností.
            Program konferencie ponúkol sériu prednášok od rešpektovaných
            odborníkov z popredných európskych klubov:
          </p>
          <p>
            <strong>• </strong>&#127477;&#127473; <strong>Lech Poznań</strong> –
            Hubert Nowaczki a Łukasz Chęciński predstavili systematickú prácu s
            mládežou a výchovu hráčov v Poľsku
          </p>
          <p>
            <strong>• </strong>&#127465;&#127466;
            <strong>Borussia Mönchengladbach</strong> – Denis Hauswald sa
            venoval ceste rozvoja hráča a prepojeniu výkonu s mentálnou stránkou
          </p>
          <p>
            <strong>• </strong>&#127475;&#127473;
            <strong>PSV Eindhoven</strong> – Martin de Laat ponúkol pohľad na
            dlhodobý proces rozvoja hráčov od najmladších kategórií až po elitnú
            mládež, detailné ukážky tréningu a aj výzvy v PSV.
          </p>
          <p>
            <strong>• </strong>&#127464;&#127487;
            <strong>Marian Jelínek</strong> – uznávaný mentálny kouč, sám bývalý
            hokejový tréner&nbsp;a bývalý spolupracovník Jaromíra Jágra uzavrel
            deň prednáškou o subjektívnom mentálnom nastavení a jeho význame pre
            výkon. Kým prvé bloky boli zamerané najmä na metodiku a samotné
            procesy v tréningu a posune hráča, záver konferencie priniesol širší
            pohľad na mentálnu stránku výkonu.
          </p>
          <p>
            Marian Jelínek zdôraznil, že rozdiel medzi talentom a úspechom často
            vzniká práve v hlave: „Bez správneho nastavenia hlavy nefunguje ani
            talent, ani systém.“
          </p>
          <p>
            Účastníci mali počas celého dňa možnosť zapájať sa aj
            prostredníctvom anonymných otázok cez digitálnu platformu, čo
            výrazne obohatilo jednotlivé diskusie.
          </p>
          <p>
            Silným momentom bola aj diskusia o tom, ako preniesť inšpiráciu z
            konferencie do každodennej praxe trénera. Jedným z hlavných prínosov
            podujatia bola možnosť stretnúť sa, nadviazať nové kontakty a
            vytvárať trénerskú komunitu: „Najväčšia hodnota tejto konferencie
            nie je len na pódiu, ale aj medzi vami,“ zaznelo počas programu.
            Účastníci mali pochopiteľne priestor na neformálne rozhovory, výmenu
            skúseností aj nadväzovanie spolupráce.
          </p>
        </div>
        <hr class="my-lg-15 my-8" />
        <h2 class="h2 text-black-primary mb-md-8 mb-5">Fotogaléria</h2>
        <div class="row g-lg-10 g-5 gx-xxl-13">
          {% for i in 1..6 %}
          <div class="col-lg-4 col-6">
            <a
              class="playerContent-gallery__item"
              href="#"
              data-source="/msk-zilina/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img
                class="postCard__img"
                srcset="
                  https://picsum.photos/366/277 1x,
                  https://picsum.photos/732/554 2x
                "
                alt="photo"
                loading="lazy"
              />
            </a>
          </div>
          {% endfor %}
        </div>
        <a
          href="#"
          data-source="/msk-zilina/build/ajax-gallery.json"
          data-gallery-id="1"
          class="button-stroke text-black-primary mt-md-8 mt-6"
          >Zobraziť celú galériu</a
        >
      </div>
      <div
        class="tab-pane fade"
        id="nav-hlasy"
        role="tabpanel"
        aria-labelledby="nav-hlasy-tab"
      >
        <div class="o-content">
          <h2>HLASY PO ZÁPASE</h2>
          <h3>Petr Ruman, tréner MŠK Žilina</h3>
          <p>
            "Výhra vždy poteší, navyše pri premiére. Je to malinké potvrdenie
            tej cesty, ktorú máme. Každopádne tam bolo mnoho chýb, čo je
            pochopiteľné. Veľa vecí, na ktorých musíme pracovať. Chyby sú však
            od toho, aby sme sa z nich poučili. Výborné je, že chalani to
            odmakali oba polčasy v intenzite, v akej si predstavujeme. Zároveň
            plnili taktické pokyny - dostupovali súpera a napádali ho. To je
            základný atribút, od ktorého sa chceme odrážať. Chalani mali ťažké
            nohy, hlava bola unavená, k tomu sa pridalo teplo. Napriek tomu
            chceli, čo je najdôležitejšie. Ďalšie týždne budú zaujímavé. Hráči
            si nastavili latku vysoko, budeme v tom pokračovať."
          </p>
          <h3>Michal Pekelský, útočník MŠK Žilina</h3>
          <p>
            "Prvý gól za "Áčko" chutí skvele. Čakal som na neho prakticky
            polroka, takže hneď v prvom zápase prípravy teší o to viac. Snažili
            sme sa plniť pokyny trénera, čo sa nám vo väčšine zápasu darilo. Mne
            osobne vyhovujú nové princípy, dnes to do seba zapadlo a cítil som
            sa na ihrisku fajn. Únava bola, ale zvládli sme to. Makáme ďalej."
          </p>
          <h3>Patrik Baleja, útočník MŠK Žilina</h3>
          <div>
            <p>
              "Som veľmi rád za premiérový štart v "A"-tíme, prevládajú po ňom
              super pocity. Mal som trochu stres, no postupne to opadlo.
              Pripisal som si asistenciu, dokonca trafil brvno, takže na prvý
              duel fajn. Rovnako tímový výkon bol na slušnej úrovni, sú tam však
              nové princípy, ešte to dostávame pod kožu. Celkovo sme mali viac
              šancí ako súper, takže víťazstvo je správnym impulzom do ďalšej
              roboty. Ďakujem trénerom za príležitosť a verím, že aj v ďalších
              zápasoch dostanem šancu."
            </p>
            <iframe
              width="840"
              height="472"
              src="https://www.youtube.com/embed/z3oxVzW8zg0"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <hr class="my-lg-15 my-8" />
          <h2 class="h2 text-black-primary mb-md-8 mb-5">Fotogaléria</h2>
          <div class="row g-lg-10 g-5 gx-xxl-13">
            {% for i in 1..6 %}
            <div class="col-lg-4 col-6">
              <a
                class="playerContent-gallery__item"
                href="#"
                data-source="/msk-zilina/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  class="postCard__img"
                  srcset="
                    https://picsum.photos/366/277 1x,
                    https://picsum.photos/732/554 2x
                  "
                  alt="photo"
                  loading="lazy"
                />
              </a>
            </div>
            {% endfor %}
          </div>
          <a
            href="#"
            data-source="/msk-zilina/build/ajax-gallery.json"
            data-gallery-id="1"
            class="button-stroke text-black-primary mt-md-8 mt-6"
            >Zobraziť celú galériu</a
          >
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="nav-stats"
        role="tabpanel"
        aria-labelledby="nav-stats-tab"
      >
        <h2 class="h2 text-black-primary mb-md-8 mb-5">Štatistiky zápasu</h2>
        <div class="match-stats">
          <div class="stat-row">
            <div class="stat-values">
              <span>51 %</span>
              <div class="stat-label">Držanie lopty</div>
              <span>49 %</span>
            </div>

            <div class="stat-bar">
              <div class="bar-left" style="width: 51%"></div>
              <div class="bar-right" style="width: 49%"></div>
            </div>
          </div>

          <div class="stat-row">
            <div class="stat-values">
              <span>4</span>
              <div class="stat-label">Strely na bránku</div>
              <span>5</span>
            </div>

            <div class="stat-bar">
              <div class="bar-left" style="width: 44.4%"></div>
              <div class="bar-right" style="width: 55.6%"></div>
            </div>
          </div>

          <div class="stat-row">
            <div class="stat-values">
              <span>15</span>
              <div class="stat-label">Strely mimo bránky</div>
              <span>5</span>
            </div>

            <div class="stat-bar">
              <div class="bar-left" style="width: 75%"></div>
              <div class="bar-right" style="width: 25%"></div>
            </div>
          </div>

          <div class="stat-row">
            <div class="stat-values">
              <span>7</span>
              <div class="stat-label">Rohy</div>

              <span>2</span>
            </div>
            <div class="stat-bar">
              <div class="bar-left" style="width: 77.8%"></div>
              <div class="bar-right" style="width: 22.2%"></div>
            </div>
          </div>

          <div class="stat-row">
            <div class="stat-values">
              <span>12</span>
              <div class="stat-label">Fauly</div>
              <span>11</span>
            </div>

            <div class="stat-bar">
              <div class="bar-left" style="width: 52.2%"></div>
              <div class="bar-right" style="width: 47.8%"></div>
            </div>
          </div>
        </div>
        <div class="attendance">
          <div>Návštevnosť</div>
          <strong>7712</strong>
        </div>
        <hr class="my-lg-15 my-8" />
        <h2 class="h2 text-black-primary mb-md-8 mb-5">Fotogaléria</h2>
        <div class="row g-lg-10 g-5 gx-xxl-13">
          {% for i in 1..6 %}
          <div class="col-lg-4 col-6">
            <a
              class="playerContent-gallery__item"
              href="#"
              data-source="/msk-zilina/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img
                class="postCard__img"
                srcset="
                  https://picsum.photos/366/277 1x,
                  https://picsum.photos/732/554 2x
                "
                alt="photo"
                loading="lazy"
              />
            </a>
          </div>
          {% endfor %}
        </div>
        <a
          href="#"
          data-source="/msk-zilina/build/ajax-gallery.json"
          data-gallery-id="1"
          class="button-stroke text-black-primary mt-md-8 mt-6"
          >Zobraziť celú galériu</a
        >
      </div>
    </div>
  </div>
</section>
