<section class="matchDetail pt-10 pb-md-20 pb-15">
  <div class="container">
    <div class="o-content">
      <h2>Reportáž</h2>
      <p class="fw-semibold">
        Prvý prípravný zápas leta medzi Šošonmi a Sigmou Olomouc bol zároveň
        oslavou 100 rokov&nbsp;futbalu v Krásne nad Kysucou. Úvodnú prevahu
        hostia nevyužili, a tak Šošoni najprv opečiatkovali tyč a potom sa ujali
        vedenia po premiérovom góle Faška. Druhé dejstvo malo podobný priebeh,
        na žrď Prokopa nadviazal v závere prvým gólom&nbsp;za "A"-tím Pekelský a
        uzavrel skóre zápasu na 2:0.&nbsp;
      </p>
      <p class="fw-semibold">
        Po dvojfázových tréningoch je tak prvý triumf Petra Rumana na lavičke
        MŠK najlepší liek na regeneráciu. Proti&nbsp;Sigme sa po
        roku&nbsp;zrodil rovnaký výsledok, tentoraz si však dvojgólovú výhru
        pripisujú Šošoni.&nbsp;
      </p>
      <p>
        <a href="https://www.mskzilina.sk/zobraz.asp?t=permanentky"
          ><img
            src="https://mskzilina.esports.cz/files/redactor/24d2df611bf15dbceb755c67686f0b81.jpg"
            alt=""
            style="width: 1091px; display: block; margin: auto"
        /></a>
      </p>

      <hr />
      <p>
        Vo svojej premiére na lavičke MŠK dal tréner Peter Ruman šancu dvom
        jedenástkam, ktoré odohrali po polčase. V rámci prvého
        dejstva&nbsp;nastúpila s kapitánskou páskou nová posila Michal Faško. Do
        druhého zase mladík Róbert Petruška. Zároveň sme týmto duelom oslávili
        jubilejné 100. výročie organizovaného futbalu v Krásne nad Kysucou, k
        čomu Tatranu gratulujeme!&nbsp;
      </p>
      <p>
        Úvodná štvrťhodina priniesla na Kysuciach očakávané oťukávanie, i keď o
        čosi viac z hry mal súper. Šošoni však vyrážali do rýchlych protiútokov,
        v dobrej situácii sa ocitol mladík z U19 Patrik Baleja. Ten v súboji s
        gólmanom Hruškom na hranici šestnástky trochu zaváhal zoči-voči
        brankárovi Čechov, no&nbsp;vybojoval loptu, jeho spoluhráči už však
        nedokázali kvalitne zakončiť. Paťo bol aktívny naďalej a takmer nás v
        19. minúte poslal do vedenia. Jeho strelecký pokus ľavačkou po
        zasekávačke&nbsp;opečiatkoval iba brvno brány Sigmy. Žltozelení stále
        viac preberali ofenzívnu aktivitu na svoje kopačky, až kým neprišiel
        vedúci zásah. V 34. minúte Sandro Narimanidze našiel dlhým
        nákopom&nbsp;hruď výborne hrajúceho Baleju, ktorý to sklepol na Miša
        Faška a ten už to umiestnil rutinérsky - <strong>1:0</strong>. Pre oboch
        to bol prvý gól, resp. asistencia za "A"-tím MŠK. Do polčasu chceli,
        samozrejme, hostia vyrovnať, nájazd Fialu po nákope za obranu a jeho
        prízemnú strelu&nbsp;vyriešil Badžgoň. Po prvom dejstve sme tak šli do
        kabín s najtesnejším vedením 1:0.
      </p>
      <p>
        Kompletne zmenenej základnej jedenástke rovnako ako prvej trochu trvalo,
        kým sa rozbehla. Útočné snahy Sigmy sme však otupili a opäť prebrali
        iniciatívu i držanie lopty. Zaujímavým volejom to skúšal v 54. minúte
        Lukáš Prokop, no brankára nezaskočil. Oveľa bližšie ku gólu bol ale náš
        hroťák po hodine hry. Po priťuknutí od Kika Bariho pálil Proky z hranice
        pokutového územia do spojnice Stoppenovej brány. Celkovo sme však videli
        menej futbalového kumštu v porovnaní s polčasom číslo jeden. Obe
        družstvá bojovali o loptu prevažne v strede poľa a všetky náznaky šancí
        si gólmani postrážili. Štvrťhodinu pred koncom konečne trochu vzplanuli
        "vášne". Najskôr hosťujúci Slavíček vyskúšal pozornosť Badžgoňa z uhla,
        pričom trafil konštrukciu brány. Vzápätí to tvrdou ďalekonosnou strelou
        skúsil Fero Kóša, ale lopta vyletela o čosi vyššie, ako si predstavoval.
        Už-už to vyzeralo, že zápas skončí tesným výsledkom pre žltozelených, no
        tí ešte stihli v závere navýšiť konečný výsledok. Kiko Bari našiel v
        šestnástke Michala Pekelského a ten premiérovým gólom za Šošonov uzavrel
        zápas presnou strelou k tyči&nbsp;- <strong>2:0</strong>.
      </p>
      <p>
        Prípravu sme odštartovali výsledkovo úspešne a už o týždeň na to budeme
        chcieť nadviazať. V sobotu 28. júna od 13:00 hod.&nbsp;nastúpime v
        Spytihněvi proti nováčikovi českej najvyššej súťaže zo Zlína.&nbsp;
      </p>
      <hr />
      <p style="text-align: center">
        <a
          href="https://www.mskzilina.sk/clanek.asp?id=Stretnutie-s-fanusikmi-16672"
          ><img
            src="https://mskzilina.esports.cz/files/redactor/37490ef227ab51f392259954cae8459b.png"
            alt=""
            style="display: block; margin: auto"
        /></a>
      </p>
      <h3 style="text-align: center">
        <a href="https://mskzilina.enigoo.sk/app/Vstupenky/events"
          >PRIHLÁS SA NA JEDINEČNÝ EVENT S HRÁČMI, TRÉNERMI I VEDENÍM</a
        >
      </h3>
      <hr />
      <h2>HLASY PO ZÁPASE</h2>
      <h3>Petr Ruman, tréner MŠK Žilina</h3>
      <p>
        "Výhra vždy poteší, navyše pri premiére. Je to malinké potvrdenie tej
        cesty, ktorú máme. Každopádne tam bolo mnoho chýb, čo je pochopiteľné.
        Veľa vecí, na ktorých musíme pracovať. Chyby sú však od toho, aby sme sa
        z nich poučili. Výborné je, že chalani to odmakali oba polčasy v
        intenzite, v akej si predstavujeme. Zároveň plnili taktické pokyny -
        dostupovali súpera a napádali ho. To je základný atribút, od ktorého sa
        chceme odrážať. Chalani mali ťažké nohy, hlava bola unavená, k tomu sa
        pridalo teplo. Napriek tomu chceli, čo je najdôležitejšie. Ďalšie týždne
        budú zaujímavé. Hráči si nastavili latku vysoko, budeme v tom
        pokračovať."
      </p>
      <h3>Michal Pekelský, útočník MŠK Žilina</h3>
      <p>
        "Prvý gól za "Áčko" chutí skvele. Čakal som na neho prakticky polroka,
        takže hneď v prvom zápase prípravy teší o to viac. Snažili sme sa plniť
        pokyny trénera, čo sa nám vo väčšine zápasu darilo. Mne osobne vyhovujú
        nové princípy, dnes to do seba zapadlo a cítil som sa na ihrisku fajn.
        Únava bola, ale zvládli sme to. Makáme ďalej."
      </p>
      <h3>Patrik Baleja, útočník MŠK Žilina</h3>
      <div>
        <p>
          "Som veľmi rád za premiérový štart v "A"-tíme, prevládajú po ňom super
          pocity. Mal som trochu stres, no postupne to opadlo. Pripisal som si
          asistenciu, dokonca trafil brvno, takže na prvý duel fajn. Rovnako
          tímový výkon bol na slušnej úrovni, sú tam však nové princípy, ešte to
          dostávame pod kožu. Celkovo sme mali viac šancí ako súper, takže
          víťazstvo je správnym impulzom do ďalšej roboty. Ďakujem trénerom za
          príležitosť a verím, že aj v ďalších zápasoch dostanem šancu."
        </p>
        <iframe
          width="840"
          height="472"
          src="https://www.youtube.com/embed/z3oxVzW8zg0"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="playerContent-gallery mt-10">
      <h3 class="h3 text-black-primary mb-md-8 mb-5">Fotogaléria</h3>
      <div class="row g-lg-10 g-5 gx-xxl-13">
        {% for i in 1..6 %}
        <div class="col-lg-4 col-6">
          <a
            class="playerContent-gallery__item"
            href="#"
            data-source="/msk-zilina/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              class="postCard__img"
              srcset="
                https://picsum.photos/366/277 1x,
                https://picsum.photos/732/554 2x
              "
              alt="photo"
              loading="lazy"
            />
          </a>
        </div>
        {% endfor %}
      </div>
      <a
        href="#"
        data-source="/msk-zilina/build/ajax-gallery.json"
        data-gallery-id="1"
        class="button-stroke text-black-primary mt-md-8 mt-6"
        >Zobraziť celú galériu</a
      >
    </div>
  </div>
</section>
