<div class="menu">
  <div class="container">
    <ul class="nav menu-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="menuFands-tab"
          data-bs-toggle="pill"
          data-bs-target="#menuFands"
          type="button"
          role="tab"
        >
          Pre fanúšikov
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="menuAcademy-tab"
          data-bs-toggle="pill"
          data-bs-target="#menuAcademy"
          type="button"
          role="tab"
        >
          Akadémia
        </button>
      </li>
    </ul>
    <div class="tab-content" id="menu-tabContent">
      <div class="tab-pane fade show active" role="tabpanel" id="menuFands">
        <div class="menu-wrapper">
          <div class="row g-4">
            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Novinky</a>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Tímy</a>

              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsTeamA">
                    A tím
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse2"
                      aria-expanded="true"
                      aria-controls="collapse2"
                    ></button>
                  </div>
                  <div
                    id="collapse2"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsTeamA"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Novinky</a></li>
                      <li><a href="#">Súpiska</a></li>
                      <li><a href="#">Realizačný tím</a></li>
                      <li><a href="#">Zápasy</a></li>
                      <li><a href="#">Tabuľka</a></li>
                      <li><a href="#">Štatistiky</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsTeamB">
                    B tím
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse3"
                      aria-expanded="true"
                      aria-controls="collapse3"
                    ></button>
                  </div>
                  <div
                    id="collapse3"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsTeamB"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Novinky</a></li>
                      <li><a href="#">Súpiska</a></li>
                      <li><a href="#">Realizačný tím</a></li>
                      <li><a href="#">Zápasy</a></li>
                      <li><a href="#">Tabuľka</a></li>
                      <li><a href="#">Štatistiky</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsTeamWomen">
                    Ženy
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse4"
                      aria-expanded="true"
                      aria-controls="collapse4"
                    ></button>
                  </div>
                  <div
                    id="collapse4"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsTeamWomen"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Novinky</a></li>
                      <li><a href="#">Súpiska</a></li>
                      <li><a href="#">Realizačný tím</a></li>
                      <li><a href="#">Zápasy</a></li>
                      <li><a href="#">Tabuľka</a></li>
                      <li><a href="#">Štatistiky</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Fanzóna</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsTicketing">
                    Ticketing
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTicketing"
                      aria-expanded="false"
                      aria-controls="collapseTicketing"
                    ></button>
                  </div>
                  <div
                    id="collapseTicketing"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsTicketing"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Vstupenky</a></li>
                      <li><a href="#">Permanentky</a></li>
                      <li><a href="#">VIP Bronze</a></li>
                      <li><a href="#">VIP Silver</a></li>
                      <li><a href="#">VIP Gold</a></li>
                      <li><a href="#">Šošon ID</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsFan">
                    Fanúšik
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFan"
                      aria-expanded="false"
                      aria-controls="collapseFan"
                    ></button>
                  </div>
                  <div
                    id="collapseFan"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsFan"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Vernostný program</a></li>
                      <li><a href="#">App MŠK Žilina</a></li>
                      <li><a href="#">Bonus+ klub</a></li>
                      <li><a href="#">Diskusia</a></li>
                      <li><a href="#">Fanshop predajne</a></li>
                      <li><a href="#">Hostia</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsStadium">
                    Štadión
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseStadium"
                      aria-expanded="false"
                      aria-controls="collapseStadium"
                    ></button>
                  </div>
                  <div
                    id="collapseStadium"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsStadium"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Fanzóna</a></li>
                      <li><a href="#">Detský sektor</a></li>
                      <li><a href="#">Domáce zápasy</a></li>
                      <li><a href="#">Prehliadky štadióna</a></li>
                      <li><a href="#">Návštevný poriadok</a></li>
                      <li><a href="#">Q&A</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Klub</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsClub">
                    MŠK Žilina
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseClub"
                      aria-expanded="false"
                      aria-controls="collapseClub"
                    ></button>
                  </div>
                  <div
                    id="collapseClub"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsClub"
                  >
                    <ul class="menu-list">
                      <li><a href="#">O klube</a></li>
                      <li><a href="#">Kontakty</a></li>
                      <li><a href="#">Vedenie klubu</a></li>
                      <li><a href="#">Štadióny</a></li>
                      <li><a href="#">Partneri</a></li>
                      <li><a href="#">MŠK vs. svet</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsMedia">
                    Médiá
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseMedia"
                      aria-expanded="false"
                      aria-controls="collapseMedia"
                    ></button>
                  </div>
                  <div
                    id="collapseMedia"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsMedia"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Akreditácie</a></li>
                      <li><a href="#">Sociálne siete</a></li>
                      <li><a href="#">Na stiahnutie</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsHistory">
                    História
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseHistory"
                      aria-expanded="false"
                      aria-controls="collapseHistory"
                    ></button>
                  </div>
                  <div
                    id="collapseHistory"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsHistory"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Počiatky klubu</a></li>
                      <li><a href="#">Tréneri a hráči</a></li>
                      <li><a href="#">Úspechy a tímy</a></li>
                      <li><a href="#">Názvy a logá</a></li>
                      <li><a href="#">Zápasy</a></li>
                      <li><a href="#">Súpisky</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Multimédia</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsVideo">
                    Video
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseVideo"
                      aria-expanded="false"
                      aria-controls="collapseVideo"
                    ></button>
                  </div>
                  <div
                    id="collapseVideo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsVideo"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Šošon Play</a></li>
                      <li><a href="#">YouTube</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsPhoto">
                    Foto
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapsePhoto"
                      aria-expanded="false"
                      aria-controls="collapsePhoto"
                    ></button>
                  </div>
                  <div
                    id="collapsePhoto"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsPhoto"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Fotogaléria</a></li>
                      <li><a href="#">Tímové fotky</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsAudio">
                    Audio
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAudio"
                      aria-expanded="false"
                      aria-controls="collapseAudio"
                    ></button>
                  </div>
                  <div
                    id="collapseAudio"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsAudio"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Podcast 1908</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFandsText">
                    Text
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseText"
                      aria-expanded="false"
                      aria-controls="collapseText"
                    ></button>
                  </div>
                  <div
                    id="collapseText"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFandsText"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Bulletin</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Fanshop</a>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Vstupenky</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="menuAcademy" role="tabpanel">
        <div class="menu-wrapper">
          <div class="row g-4">
            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Novinky</a>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Tímy</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyBoys">
                    Chlapci
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyBoys"
                      aria-expanded="false"
                      aria-controls="collapseAcademyBoys"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyBoys"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyBoys"
                  >
                    <ul class="menu-list">
                      <li><a href="#">U19</a></li>
                      <li><a href="#">U17</a></li>
                      <li><a href="#">U16</a></li>
                      <li><a href="#">U15</a></li>
                      <li><a href="#">U14</a></li>
                      <li><a href="#">U13</a></li>
                      <li><a href="#">U12</a></li>
                      <li><a href="#">U11</a></li>
                      <li><a href="#">U10</a></li>
                      <li><a href="#">U9</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyGirls">
                    Dievčatá
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyGirls"
                      aria-expanded="false"
                      aria-controls="collapseAcademyGirls"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyGirls"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyGirls"
                  >
                    <ul class="menu-list">
                      <li><a href="#">WU19</a></li>
                      <li><a href="#">WU15</a></li>
                      <li><a href="#">WU11</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyOther">
                    Iné
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyOther"
                      aria-expanded="false"
                      aria-controls="collapseAcademyOther"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyOther"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyOther"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Škôlka</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Fanzóna</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyEducation">
                    MŠK Education
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyEducation"
                      aria-expanded="false"
                      aria-controls="collapseAcademyEducation"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyEducation"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyEducation"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Trenerská konferencia 26</a></li>
                      <li><a href="#">Vzdelávanie trénerov</a></li>
                      <li><a href="#">Trénerská stáž</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyCamps">
                    Kempy
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyCamps"
                      aria-expanded="false"
                      aria-controls="collapseAcademyCamps"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyCamps"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyCamps"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Brankársky kemp</a></li>
                      <li><a href="#">Hráčsky kemp</a></li>
                      <li><a href="#">Detský kemp</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyActivities">
                    Aktivity
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyActivities"
                      aria-expanded="false"
                      aria-controls="collapseAcademyActivities"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyActivities"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyActivities"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Brankárska škola</a></li>
                      <li><a href="#">MŠK Žilina skills</a></li>
                      <li><a href="#">Nábor a scouting</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyTournaments">
                    Turnaje
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyTournaments"
                      aria-expanded="false"
                      aria-controls="collapseAcademyTournaments"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyTournaments"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyTournaments"
                  >
                    <ul class="menu-list">
                      <li><a href="#">U14 Škriniar Cup</a></li>
                      <li><a href="#">U12 Mintál Cup</a></li>
                      <li><a href="#">WU11 Šošonky</a></li>
                      <li><a href="#">U10 Žilina Cup</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Klub</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyClub">
                    MŠK Žilina
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyClub"
                      aria-expanded="false"
                      aria-controls="collapseAcademyClub"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyClub"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyClub"
                  >
                    <ul class="menu-list">
                      <li><a href="#">O klube</a></li>
                      <li><a href="#">Tréneri</a></li>
                      <li><a href="#">Kontakty</a></li>
                      <li><a href="#">Vedenie klubu</a></li>
                      <li><a href="#">Tréningové centrá</a></li>
                      <li><a href="#">Partneri</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyMedia">
                    Médiá
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyMedia"
                      aria-expanded="false"
                      aria-controls="collapseAcademyMedia"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyMedia"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyMedia"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Sociálne siete</a></li>
                      <li><a href="#">Na stiahnutie</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyHistory">
                    História
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyHistory"
                      aria-expanded="false"
                      aria-controls="collapseAcademyHistory"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyHistory"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyHistory"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Počiatky klubu</a></li>
                      <li><a href="#">Tréneri a hráči</a></li>
                      <li><a href="#">Úspechy a tímy</a></li>
                      <li><a href="#">Názvy a logá</a></li>
                      <li><a href="#">Zápasy</a></li>
                      <li><a href="#">Súpisky</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Multimédia</a>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyVideo">
                    Video
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyVideo"
                      aria-expanded="false"
                      aria-controls="collapseAcademyVideo"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyVideo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyVideo"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Šošon Play</a></li>
                      <li><a href="#">YouTube</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyPhoto">
                    Foto
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyPhoto"
                      aria-expanded="false"
                      aria-controls="collapseAcademyPhoto"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyPhoto"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyPhoto"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Fotogaléria</a></li>
                      <li><a href="#">Tímové fotky</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyAudio">
                    Audio
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyAudio"
                      aria-expanded="false"
                      aria-controls="collapseAcademyAudio"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyAudio"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyAudio"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Podcast 1908</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingAcademyText">
                    Text
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseAcademyText"
                      aria-expanded="false"
                      aria-controls="collapseAcademyText"
                    ></button>
                  </div>
                  <div
                    id="collapseAcademyText"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingAcademyText"
                  >
                    <ul class="menu-list">
                      <li><a href="#">Bulletin</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Fanshop</a>
            </div>

            <div class="col-lg col-md-4 col-12">
              <a href="#" class="fw-medium text-lg">Vstupenky</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
