.playersSlider {
  background: var(--color-green);
  padding: 80px 0;
  @include media-breakpoint-down(md) {
    padding: 60px 0;
  }
  .swiper-slide {
    width: 299px !important;
    flex-shrink: 0;
  }
  &-inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      right: -4px;
      bottom: 30px;
      width: 120px;
      pointer-events: none;
      height: 26.8rem;
      background: linear-gradient(90deg, rgba(0, 115, 48, 0) 0%, #007330 64.9%);
      @include media-breakpoint-down(lg) {
        right: -16px;
        width: 36px;
      }
    }
  }
}
