<section class="static-section">
  <div class="container">
    <div class="text-base text-black-primary mb-5">12.05.2026</div>
    <h1 class="h1 mb-md-20 mb-10">
      MŠK Education | Takmer 200 účastníkov na veľkej trénerskej konferencii
    </h1>
    <img
      class="rounded-20 object-fit-cover w-100 mb-lg-15 mb-8"
      src="https://php.esports.cz/images/min.php?exact&topcut&w=1460&h=680&compresss=&mtime=1778612019&file=https://mskzilina.sk/foto/titulky/0M6A6062edu.jpg"
      alt="article"
    />
    <div class="o-content">
      <p>
        Do Žiliny zavítali známe mená, reprezentační tréneri aj osobnosti z
        ligových trávnikov. Veľká futbalová konferencia trénerov priniesla do
        Tréningového centra KIA v Gbeľanoch takmer dve stovky trénerov zo
        Slovenska, Česka či Poľska. Program priniesol tri nabité prednášky
        zahraničných odborníkov z Poľska, Nemecka a Holandska, pričom
        konferencia vyvrcholila a samotné prednášky spojila záverečná prednáška
        uznávaného športového kouča Mariana Jelínka.
      </p>
      <p>
        Aký bol 4. ročník Futbalovej konferencie trénerov pod hlavičkou MŠK
        Education?
      </p>
      <p>
        <a href="https://mskzilina.enigoo.sk/app/vstupenky" target="_blank"
          ><img
            src="https://www.mskzilina.sk/files/redactor/85ca267ecfc22f853173778328cdebdc.jpg"
            alt=""
            loading="lazy"
            style="
              caret-color: rgb(17, 18, 18);
              color: rgb(17, 18, 18);
              font-family: ff-meta-web-pro, sans-serif;
              font-size: 24px;
              text-decoration-line: underline;
              box-sizing: border-box;
              vertical-align: middle;
              border-style: none;
              display: block;
              margin: auto;
            "
        /></a>
      </p>
      <hr />
      <h2>Nielen počúvať, ale aj sa aktívne zapájať</h2>
      <p>
        Už štvrtýkrát sa zišli pod Dubňom&nbsp;pod hlavičkou MŠK Education
        tréneri z celého Slovenska i Česka na veľkej futbalovej konferencii
        trénerov, ktorá opäť priniesla kvalitný odborný program, inšpiráciu zo
        zahraničia a priestor na zdieľanie skúseností naprieč trénerskou
        komunitou. Šošoni si uvedomujú význam práce trénerov, ktorí stoja za
        tréningami v daždi, za víkendami na ihriskách a predovšetkým za rastom
        hráčov, ktorí raz reprezentujú klub, mesto, ale aj&nbsp;samotné
        Slovensko.&nbsp;
      </p>
      <p>
        Atmosféra od úvodu potvrdila, že konferencia nie je iba o počúvaní, ale
        najmä o aktívnom zapojení, diskusii a zdieľaní skúseností. Program
        konferencie ponúkol sériu prednášok od rešpektovaných odborníkov z
        popredných európskych klubov:
      </p>
      <p>
        <strong>• </strong>&#127477;&#127473; <strong>Lech Poznań</strong> –
        Hubert Nowaczki a Łukasz Chęciński predstavili systematickú prácu s
        mládežou a výchovu hráčov v Poľsku
      </p>
      <p>
        <strong>• </strong>&#127465;&#127466;
        <strong>Borussia Mönchengladbach</strong> – Denis Hauswald sa venoval
        ceste rozvoja hráča a prepojeniu výkonu s mentálnou stránkou
      </p>
      <p>
        <strong>• </strong>&#127475;&#127473; <strong>PSV Eindhoven</strong> –
        Martin de Laat ponúkol pohľad na dlhodobý proces rozvoja hráčov od
        najmladších kategórií až po elitnú mládež, detailné ukážky tréningu a aj
        výzvy v PSV.
      </p>
      <p>
        <strong>• </strong>&#127464;&#127487; <strong>Marian Jelínek</strong> –
        uznávaný mentálny kouč, sám bývalý hokejový tréner&nbsp;a bývalý
        spolupracovník Jaromíra Jágra uzavrel deň prednáškou o subjektívnom
        mentálnom nastavení a jeho význame pre výkon. Kým prvé bloky boli
        zamerané najmä na metodiku a samotné procesy v tréningu a posune hráča,
        záver konferencie priniesol širší pohľad na mentálnu stránku výkonu.
      </p>
      <p>
        Marian Jelínek zdôraznil, že rozdiel medzi talentom a úspechom často
        vzniká práve v hlave: „Bez správneho nastavenia hlavy nefunguje ani
        talent, ani systém.“
      </p>
      <p>
        Účastníci mali počas celého dňa možnosť zapájať sa aj prostredníctvom
        anonymných otázok cez digitálnu platformu, čo výrazne obohatilo
        jednotlivé diskusie.
      </p>
      <p>
        Silným momentom bola aj diskusia o tom, ako preniesť inšpiráciu z
        konferencie do každodennej praxe trénera. Jedným z hlavných prínosov
        podujatia bola možnosť stretnúť sa, nadviazať nové kontakty a vytvárať
        trénerskú komunitu: „Najväčšia hodnota tejto konferencie nie je len na
        pódiu, ale aj medzi vami,“ zaznelo počas programu. Účastníci mali
        pochopiteľne priestor na neformálne rozhovory, výmenu skúseností aj
        nadväzovanie spolupráce.
      </p>
      <hr />
      <h2>Najlepší učiteľ je hra</h2>
      <p>
        No a rozhovory sme si urobili aj my, konkrétne s trojicou
        <strong>Tibor Goljan </strong>(asistent trénera SR "21"),&nbsp;<strong
          >Ján Hancko </strong
        >- otec nášho odchovanca Dávida Hancka&nbsp;a jeden z predstaviteľov
        prievidzského futbalu, <strong>Marián Rybár</strong> - konateľ PRO
        Agility,&nbsp;partnera tohto podujatia.
      </p>
      <p>
        <a href="https://www.sosonplay.sk/sk/video/s-edu-9pomed" target="_blank"
          ><img
            src="images/content/rozhovor-article.jpg"
            loading="lazy"
            alt=""
            style="display: block; margin: auto"
        /></a>
      </p>
      <p>
        Záver konferencie patril jasnému odkazu: „Nejde len o to počuť nové
        veci, ale najmä ich aplikovať. Možno práve jedna myšlienka, ktorú si
        dnes odnášate, môže zajtra zmeniť váš tréning.“
      </p>
      <p>
        Futbalová konferencia trénerov MŠK Education opäť potvrdila, že záujem o
        vzdelávanie a posúvanie kvality tréningového procesu je na Slovensku
        silný.
      </p>
      <p>
        Už teraz sa klub teší na ďalšie stretnutia a pokračovanie tejto
        spoločnej cesty. Tešíme sa na ďalší ročník,
        <strong
          >už najbližšie pre vás pripravujeme trénerský seminár o rozvoji
          kondičných schopností v MŠK Žilina v pondelok 23.
          novembra.&nbsp;</strong
        >
      </p>
    </div>
    <div class="postsSlider swiper mt-md-15 mt-10">
      <div
        class="d-flex align-items-center justify-content-between mb-5 flex-wrap gap-4"
      >
        <h3 class="h1 text-black-primary">Business novinky</h3>

        <div class="d-flex align-items-center me-1">
          <button class="swipe-prev" type="button" aria-label="Previous">
            {% include "@images/chevron-down.svg" %}
          </button>
          <button class="swipe-next" type="button" aria-label="Next">
            {% include "@images/chevron-down.svg" %}
          </button>
        </div>
      </div>

      <ul
        role="list"
        class="swiper-wrapper infinite-scroll-swiper mb-lg-10 mb-6"
      >
        {% for i in 1..8 %}
        <li class="swiper-slide">
          {% include "@components/postCard/postCard.twig" %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
