<section class="academy-section pt-5 pb-md-20 pb-16"  >
  <div class="container">
    <div class="tab-content" id="table-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-all"
        role="tabpanel"
        aria-labelledby="nav-all-tab"
      >
        <h2 class="h2 text-black-primary mb-3">Chlapci</h2>

        <div class="academyItem">
          <div class="h1 text-green">U19</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U18</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U17</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U16</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U15</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U14</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U13</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U12</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U11</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U10</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U9</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U8</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U7</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">Škôlka</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <h2 class="h2 text-black-primary mb-3">Dievčatá</h2>

        <div class="academyItem">
          <div class="h1 text-green">WU19</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">WU15</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">WU11</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-boys"
        role="tabpanel"
        aria-labelledby="nav-boys-tab"
      >
        <h2 class="h2 text-black-primary mb-3">Chlapci</h2>

        <div class="academyItem">
          <div class="h1 text-green">U19</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U18</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U17</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U16</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U15</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U14</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U13</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U12</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U11</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U10</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U9</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U8</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">U7</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">Škôlka</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-girls"
        role="tabpanel"
        aria-labelledby="nav-girls-tab"
      >
        <h2 class="h2 text-black-primary mb-3">Dievčatá</h2>

        <div class="academyItem">
          <div class="h1 text-green">WU19</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">WU15</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>

        <div class="academyItem">
          <div class="h1 text-green">WU11</div>
          <ul class="academyItem-list">
            <li><a href="#">Súpiska</a></li>
            <li><a href="#">Zápasy</a></li>
            <li><a href="#">Tabuľka</a></li>
            <li><a href="#">Realizačný tím</a></li>
            <li><a href="#">Súťaže</a></li>
            <li><a href="#">Štatistiky</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
