<section class="stats-section pt-10 pb-md-20 pb-15" id="scrollContent">
  <div class="container">
    <div class="tab-content" id="table-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-ateam"
        role="tabpanel"
        aria-labelledby="nav-ateam-tab"
      >
        <h2 class="h2 text-black-primary mb-md-8 mb-6">Brankári</h2>
        <div class="table-responsive mb-8">
          <table class="table statsTable">
            <thead>
              <tr>
                <th class="ps-2">#</th>
                <th class="">P</th>
                <th class="w-100 text-start">Meno hráča</th>
                <th class="">Z</th>
                <th class=" ">Min</th>
                <th class=" ">Ink</th>
                <th class=" ">Nul</th>
                <th class=" ">VG</th>
                <th class=" ">A</th>
                <th class=" ">ŽK</th>
                <th class=" ">ČK</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ps-2">1</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Jakub Badžgoň</a
                  >
                </td>
                <td>11</td>
                <td>945</td>
                <td>10</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="ps-2">30</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Ľubomír Belko</a
                  >
                </td>
                <td>18</td>
                <td>1620</td>
                <td>25</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="ps-2">29</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Dominik Sváček</a
                  >
                </td>
                <td>3</td>
                <td>225</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="h2 text-black-primary mb-md-8 mb-6">Hráči v poli</h2>
        <div class="table-responsive mb-8">
          <table class="table statsTable">
            <thead>
              <tr>
                <th class="ps-2">#</th>
                <th class="">P</th>
                <th class="w-100 text-start">Meno hráča</th>
                <th class="">Z</th>
                <th class=" ">Min</th>
                <th class=" ">G</th>
                <th class=" ">A</th>
                <th class=" ">ŽK</th>
                <th class=" ">ČK</th>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..12 %}
              <tr>
                <td class="ps-2">27</td>
                <td>Z</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Samuel Ďatko</a
                  >
                </td>
                <td>225</td>
                <td>4</td>
                <td>4</td>
                <td>1</td>
                <td>3</td>
                <td>2</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h3 class="h4 text-black-primary mb-3">Kontakt</h3>
        <p class="text-black-secondary text-xl-2">
          Ak budete mať k štatistikám akékoľvek pripomienky alebo otázky,
          kontaktujte nás prosím na emailu:
          <a class="hover-outline fw-medium" href="weby@esports.cz"
            >weby@esports.cz.</a
          >
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="nav-bteam"
        role="tabpanel"
        aria-labelledby="nav-bteam-tab"
      >
        <h2 class="h2 text-black-primary mb-md-8 mb-6">Brankári</h2>
        <div class="table-responsive mb-8">
          <table class="table statsTable">
            <thead>
              <tr>
                <th class="ps-2">#</th>
                <th class="">P</th>
                <th class="w-100 text-start">Meno hráča</th>
                <th class="">Z</th>
                <th class=" ">Min</th>
                <th class=" ">Ink</th>
                <th class=" ">Nul</th>
                <th class=" ">VG</th>
                <th class=" ">A</th>
                <th class=" ">ŽK</th>
                <th class=" ">ČK</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ps-2">1</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Jakub Badžgoň</a
                  >
                </td>
                <td>11</td>
                <td>945</td>
                <td>10</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="ps-2">30</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Ľubomír Belko</a
                  >
                </td>
                <td>18</td>
                <td>1620</td>
                <td>25</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="ps-2">29</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Dominik Sváček</a
                  >
                </td>
                <td>3</td>
                <td>225</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="h2 text-black-primary mb-md-8 mb-6">Hráči v poli</h2>
        <div class="table-responsive mb-8">
          <table class="table statsTable">
            <thead>
              <tr>
                <th class="ps-2">#</th>
                <th class="">P</th>
                <th class="w-100 text-start">Meno hráča</th>
                <th class="">Z</th>
                <th class=" ">Min</th>
                <th class=" ">G</th>
                <th class=" ">A</th>
                <th class=" ">ŽK</th>
                <th class=" ">ČK</th>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..12 %}
              <tr>
                <td class="ps-2">27</td>
                <td>Z</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Samuel Ďatko</a
                  >
                </td>
                <td>225</td>
                <td>4</td>
                <td>4</td>
                <td>1</td>
                <td>3</td>
                <td>2</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h3 class="h4 text-black-primary mb-3">Kontakt</h3>
        <p class="text-black-secondary text-xl-2">
          Ak budete mať k štatistikám akékoľvek pripomienky alebo otázky,
          kontaktujte nás prosím na emailu:
          <a class="hover-outline fw-medium" href="weby@esports.cz"
            >weby@esports.cz.</a
          >
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="nav-women"
        role="tabpanel"
        aria-labelledby="nav-women-tab"
      >
        <h2 class="h2 text-black-primary mb-md-8 mb-6">Brankári</h2>
        <div class="table-responsive mb-8">
          <table class="table statsTable">
            <thead>
              <tr>
                <th class="ps-2">#</th>
                <th class="">P</th>
                <th class="w-100 text-start">Meno hráča</th>
                <th class="">Z</th>
                <th class=" ">Min</th>
                <th class=" ">Ink</th>
                <th class=" ">Nul</th>
                <th class=" ">VG</th>
                <th class=" ">A</th>
                <th class=" ">ŽK</th>
                <th class=" ">ČK</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ps-2">1</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Jakub Badžgoň</a
                  >
                </td>
                <td>11</td>
                <td>945</td>
                <td>10</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="ps-2">30</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Ľubomír Belko</a
                  >
                </td>
                <td>18</td>
                <td>1620</td>
                <td>25</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="ps-2">29</td>
                <td>B</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Dominik Sváček</a
                  >
                </td>
                <td>3</td>
                <td>225</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="h2 text-black-primary mb-md-8 mb-6">Hráči v poli</h2>
        <div class="table-responsive mb-8">
          <table class="table statsTable">
            <thead>
              <tr>
                <th class="ps-2">#</th>
                <th class="">P</th>
                <th class="w-100 text-start">Meno hráča</th>
                <th class="">Z</th>
                <th class=" ">Min</th>
                <th class=" ">G</th>
                <th class=" ">A</th>
                <th class=" ">ŽK</th>
                <th class=" ">ČK</th>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..12 %}
              <tr>
                <td class="ps-2">27</td>
                <td>Z</td>
                <td class="text-start">
                  <a
                    class="fw-medium hover-outline"
                    href="#"
                    title="Karta hráče"
                    >Samuel Ďatko</a
                  >
                </td>
                <td>225</td>
                <td>4</td>
                <td>4</td>
                <td>1</td>
                <td>3</td>
                <td>2</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h3 class="h4 text-black-primary mb-3">Kontakt</h3>
        <p class="text-black-secondary text-xl-2">
          Ak budete mať k štatistikám akékoľvek pripomienky alebo otázky,
          kontaktujte nás prosím na emailu:
          <a class="hover-outline fw-medium" href="weby@esports.cz"
            >weby@esports.cz.</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
