<a href="#" class="playerCard">
  <img src="" alt="" class="playerCard__img" />
  <div class="playerCard__number">20</div>
  <div class="playerCard__info">
    <div class="d-flex align-items-end justify-content-beetwen">
      <div class="d-flex flex-column gap-2">
        <div class="">Timotej Hranica</div>
        <div class="">Obranca</div>
      </div>
      <div class="playerCard__state">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</a>
