<a href="#" class="playerCard">
  <img src="images/content/player.png" alt="player" class="playerCard__img" />
  <div class="playerCard__number">20</div>
  <div class="playerCard__content">
    <div class="text-white-primary mb-2 text-base fw-semibold">
      Timotej Hranica
    </div>
    <div class="d-flex g-3 align-items-center justify-content-between">
      <div class="text-sm text-white-secondary">Obranca</div>
      <img
        class="object-fit-contain"
        src="images/ico/sk.svg"
        width="22"
        height="16"
        alt="sk"
      />
    </div>
  </div>
</a>
