<section class="table-section pt-10 pb-md-20 pb-16" id="scrollContent">
  <div class="container">
    <div class="tab-content" id="staff-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-ateam"
        role="tabpanel"
        aria-labelledby="nav-ateam-tab"
      >
        <div class="row g-5">
          {% for i in 1..16 %}
          <div class="col-xl-3 col-lg-4 col-sm-6">
            {% include "@components/staffCard/staffCard.twig" %}
          </div>
          {% endfor %}
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="nav-bteam"
        role="tabpanel"
        aria-labelledby="nav-bteam-tab"
      >
        <div class="row g-5">
          {% for i in 1..16 %}
          <div class="col-xl-3 col-lg-4 col-sm-6">
            {% include "@components/staffCard/staffCard.twig" %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-women"
        role="tabpanel"
        aria-labelledby="nav-women-tab"
      >
        <div class="row g-5">
          {% for i in 1..16 %}
          <div class="col-xl-3 col-lg-4 col-sm-6">
            {% include "@components/staffCard/staffCard.twig" %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
