<div
  id="timer-wrapper"
  class="timer"
  role="timer"
  aria-label="A timer, counting down to {{ eventName }}"
  data-endtime="2026-06-10T02:00"
>
  <span class="timer__item" id="timer-days">
    <span class="h1 text-white-primary" id="countdown-days">{{ days }}</span>
    <span class="text-lg text-white-secondary" id="countdown-days-label"
      >dni</span
    >
  </span>
  <span class="timer__item" id="timer-hours">
    <span class="h1 text-white-primary" id="countdown-hours">{{ hours }}</span>
    <span class="text-lg text-white-secondary" id="countdown-hours-label"
      >hodín</span
    >
  </span>
  <span class="timer__item" id="timer-minutes-1">
    <span class="h1 text-white-primary" id="countdown-minutes">{{
      minutes
    }}</span>
    <span class="text-lg text-white-secondary" id="countdown-minutes-label"
      >minút</span
    >
  </span>
</div>
