<a class="postCard">
  <img
    class="postCard__img"
    srcset="https://picsum.photos/280/280 1x, https://picsum.photos/560/560 2x"
    alt="post"
    loading="lazy"
  />
  <div class="postCard__content">
    <div class="text-sm mb-2">Business</div>
    <div class="fw-semibold text-base-2">
      1. kolo nadstavby NL | MŠK Žilina - FC Spartak Trnava 0:1 (0:1)
    </div>
  </div>
</a>
