.c-header__opener {
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  padding: 0;
  z-index: 999;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @include media-breakpoint-down(lg) {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  &:hover {
    background: var(--color-yellow);
    span,
    span::before,
    span::after {
      background-color: var(--text-black-primary) !important;
    }
  }
  span {
    width: 15px;
    height: 2px;
    background: var(--color-white);
    transform: translateY(-1px);
    display: block;
    transition: all 0.3s;
    margin-left: -5px;
    @include media-breakpoint-down(lg) {
      width: 13px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background: var(--color-white);
      left: 0;
      right: 0;
      transition: all 0.3s;
      @include media-breakpoint-down(lg) {
        width: 18px;
      }
    }
    &::before {
      transform: translateY(-6px);
    }
    &::after {
      transform: translateY(6px);
    }
  }
  &:focus {
    box-shadow: none;
  }
}
.c-header__opener.is-open {
  &:hover span {
    &::before,
    &::after {
      background-color: var(--color-black) !important;
    }
  }
  span {
    border-color: transparent !important;
    background: transparent !important;
  }
  span:before {
    transform: rotate(45deg);
    background-color: var(--color-white) !important;
  }
  span:after {
    transform: rotate(-45deg);
    background-color: var(--color-white) !important;
  }
}
