// title
.h1,
.o-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  font-family: var(--font-secondary);
  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}

.h2,
.o-content h2 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 32px;
  line-height: 110.00000000000001%;
  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

// h3 or h4
.h3,
.o-content h3 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}
.h4,
.o-content h4 {
  font-size: 18px;
  line-height: 100%;
  font-family: var(--font-secondary);
  font-weight: 700;
}
.h5,
.o-content h5 {
  font-size: 16px;
  line-height: 100%;
  font-family: var(--font-secondary);
  font-weight: 700;
}
.h6,
.o-content h6 {
  font-size: 14px;
  line-height: 100%;
  font-family: var(--font-secondary);
  font-weight: 700;
}

// text
.text-xs {
  font-size: 12px;
  line-height: 100%;
}
.text-sm {
  font-size: 14px;
  line-height: 120%;
}
.text-base {
  font-size: 16px;
  line-height: 100%;
}
.text-base-2 {
  font-size: 1rem;
  line-height: 120%;
}
.text-lg {
  font-size: 18px;
  line-height: 100%;
}
.text-xl {
  font-size: 20px;
  line-height: 100%;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

.text-xl-1 {
  font-size: 20px;
  line-height: 110%;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}
.text-xl-2 {
  font-size: 20px;
  line-height: 120%;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}
