<div class="pubs">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6">
        <a href="#" class="pubs__link">
          <img src="images/content/pub-1.png" loading="lazy" alt="pub" />
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="pubs__link">
          <img src="images/content/pub-2.png" loading="lazy" alt="pub" />
        </a>
      </div>
    </div>
  </div>
</div>
