/*! purgecss start ignore */
.swipe-prev,
.swipe-next {
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.25s ease;
  border: 1px solid var(--color-yellow);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-down(md) {
    height: 44px;
    width: 44px;
  }
  &:hover {
    background: var(--color-yellow);
    path {
      fill: var(--text-black-primary);
    }
  }
  svg {
    width: 13px;
    height: 8px;
    circle {
      transition: all 0.25s ease;
    }
  }
}
.swipe-prev {
  transform: rotate(90deg);
}
.swipe-next {
  transform: rotate(-90deg);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.business-section .postsSlider {
  .swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: var(--text-white-primary);
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-yellow);
  }
}
.loyaltyProgram__inner,
.socialFeedSlider {
  .swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: var(--color-green-10);
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-green);
  }
}
.loyaltyProgram__inner,
.fanshopSlider,
.socialFeedSlider,
.gallery-section,
.static-section {
  .swipe-prev path,
  .swipe-next path {
    fill: var(--text-black-primary);
  }
}

.playersSlider {
  .swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: var(--text-white-primary-10);
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: var(--text-white-primary);
  }
}
.heroNews {
  .swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: var(--text-white-primary-20);
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: var(--text-white-primary);
  }
}
/*! purgecss end ignore */
