<section class="static-section">
  <div class="container">
    <h1 class="h1 mb-md-20 mb-10">Partneri</h1>

    <h2 class="h2 text-black-primary mb-6">Generálny partner</h2>
    <div class="row justify-content-center g-5">
      <div class="col-lg-4 col-md-3 col-6">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-1.png"
            alt="partner"
          />
        </a>
      </div>
    </div>

    <h2 class="h2 text-black-primary mb-6">HLAVNÍ PARTNERI</h2>
    <div class="row g-5 justify-content-center align-items-center mb-10">
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-3.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-4.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-5.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-6.png"
            alt="partner"
          />
        </a>
      </div>
    </div>
    <h2 class="h2 text-black-primary mb-6">Hlavní partneri</h2>
    <div class="row g-5 justify-content-center align-items-center mb-10">
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-3.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-4.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-5.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-6.png"
            alt="partner"
          />
        </a>
      </div>
    </div>
    <h2 class="h2 text-black-primary mb-6">Ďalší partneri</h2>
    <div class="row g-5 justify-content-center align-items-center mb-10">
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-3.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-4.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-5.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-6.png"
            alt="partner"
          />
        </a>
      </div>
    </div>
    <h2 class="h2 text-black-primary mb-6">Mediálni partneri</h2>
    <div class="row g-5 justify-content-center align-items-center mb-10">
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-3.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-4.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-5.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-6.png"
            alt="partner"
          />
        </a>
      </div>
    </div>
    <h2 class="h2 text-black-primary mb-6">Titulárny partner Niké ligy</h2>
    <div class="row g-5 justify-content-center align-items-center mb-10">
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-3.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-4.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-5.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-6.png"
            alt="partner"
          />
        </a>
      </div>
    </div>
    <h2 class="h2 text-black-primary mb-6">Projektový partner</h2>
    <div class="row g-5 justify-content-center align-items-center mb-10">
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-3.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-4.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-5.png"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 d-block p-4">
        <a href="#" class="p-4 d-block" target="_blank">
          <img
            class="w-100 object-fit-contain"
            src="images/content/p-6.png"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
</section>
