<div class="topMenu">
  <div class="container">
    <div class="d-flex align-items-center gap-4 justify-content-between">
      <ul class="d-flex align-items-center gap-5">
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/content/nike.png"
              width="24"
              height="24"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/content/ulk.png"
              width="24"
              height="24"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/content/topmenu-3.png"
              width="24"
              height="24"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/content/topmenu-4.png"
              width="24"
              height="24"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/content/topmenu-5.png"
              width="54"
              height="24"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/content/topmenu-6.png"
              width="54"
              height="24"
              alt="partner"
            />
          </a>
        </li>
      </ul>
      <ul class="topMenu__links">
        <li>
          <a href="#">Šošon Play</a>
        </li>
        <li>
          <a href="#">Vernostný program</a>
        </li>
        <li>
          <a href="#">Business Club</a>
        </li>
        <li>
          <a href="#">Sledujte nás</a>
        </li>
        <li>
          <a class="d-flex align-items-center gap-2" href="#"
            >{% include "@images/lang.svg" %} EN
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
