<div class="nikeLeague">
  <ul class="nikeLeague__list">
    <li>
      <a class="nikeLeague__logo" target="_blank" href="#">
        <img
          class="object-fit-cover"
          width="240"
          height="120"
          src="images/content/nike-league.png"
          loading="lazy"
          alt="nike"
        />
      </a>
    </li>
    <li>
      <a class="h2" href="#"> Sme hrdým členom </a>
    </li>
    <li>
      <a class="h2" href="#"> Sme hrdým členom </a>
    </li>
    <li>
      <a class="h2" href="#"> Sme hrdým členom </a>
    </li>
  </ul>
</div>
