<div class="mb-md-20 mb-15">
  <div class="container">
    <a class="d-block w-100" href="#" target="_blank">
      <img src="images/content/pub.jpg" loading="lazy" alt="pub" />
    </a>
  </div>
</div>
