<footer class="footer">
  <div class="container">
    <div class="row g-md-5 g-0 mb-md-20 mb-15">
      <div class="col-lg-3 col-md-6">
        <a href="/" class="footer__logo">
          <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
        </a>
        <ul class="d-flex flex-column gap-5">
          <li class="d-flex flex-column gap-3">
            <div class="text-base fw-semibold text-white-primary">Fax</div>
            <a
              class="hover-outline text-white-secondary text-xl-2"
              href="tel:+421415424958"
            >
              +421 41 54 24 958
            </a>
          </li>
          <li class="d-flex flex-column gap-3">
            <div class="text-base fw-semibold text-white-primary">Email</div>
            <a
              class="hover-outline text-white-secondary text-xl-2"
              href="mailto:mskzilina@mskzilina.sk"
            >
              mskzilina@mskzilina.sk
            </a>
          </li>
          <li class="d-flex flex-column gap-3">
            <div class="text-base fw-semibold text-white-primary">Adresa</div>
            <p class="text-white-secondary text-xl-2">
              MŠK Žilina a.s.
              <br />
              Športová 9, Žilina, 010 01
              <br />
              Slovenská republika
            </p>
            <p class="text-white-secondary text-xl-2">IČO 36419320</p>
            <p class="text-white-secondary text-xl-2">DIČ 2021840524</p>
            <p class="text-white-secondary text-xl-2">IČ DPH SK7020001010</p>
          </li>
          <li class="d-flex flex-column gap-3">
            <div class="text-base fw-semibold text-white-primary">
              Sociálne siete
            </div>
            <ul class="social">
              <li>
                <a target="_blank" href="#" class="social__link">
                  <img
                    src="images/ico/youtube.svg"
                    loading="lazy"
                    alt="social"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="#" class="social__link">
                  <img src="images/ico/fb.svg" loading="lazy" alt="social" />
                </a>
              </li>
              <li>
                <a target="_blank" href="#" class="social__link">
                  <img src="images/ico/insta.svg" loading="lazy" alt="social" />
                </a>
              </li>
              <li>
                <a target="_blank" href="#" class="social__link">
                  <img
                    src="images/ico/tiktok.svg"
                    loading="lazy"
                    alt="social"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="#" class="social__link">
                  <img
                    src="images/ico/twitter.svg"
                    loading="lazy"
                    alt="social"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="#" class="social__link">
                  <img
                    src="images/ico/spotify.svg"
                    loading="lazy"
                    alt="social"
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="footerHeadingClub">
              <a
                href="#"
                class="text-base fw-semibold text-white-primary hover-outline d-block"
                >Klub</a
              >
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#footerCollapseClub"
                aria-expanded="false"
                aria-controls="footerCollapseClub"
              ></button>
            </div>
            <div
              id="footerCollapseClub"
              class="accordion-collapse collapse"
              aria-labelledby="footerHeadingClub"
            >
              <ul
                class="text-white-secondary d-flex flex-column gap-4 text-xl hover-outline pt-mb-5 pt-4"
              >
                <li><a href="#">O nás</a></li>
                <li><a href="#">Vedenie klubu</a></li>
                <li><a href="#">Média / Akreditácie</a></li>
                <li><a href="#">História</a></li>
                <li><a href="#">Štadión</a></li>
                <li><a href="#">Parkovanie</a></li>
                <li><a href="#">Partnéri</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-box accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="footerHeadingATeam">
              <a
                href="#"
                class="text-base fw-semibold text-white-primary hover-outline d-block"
                >A-Tím</a
              >
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#footerCollapseATeam"
                aria-expanded="false"
                aria-controls="footerCollapseATeam"
              ></button>
            </div>
            <div
              id="footerCollapseATeam"
              class="accordion-collapse collapse"
              aria-labelledby="footerHeadingATeam"
            >
              <ul
                class="text-white-secondary d-flex flex-column gap-4 text-xl hover-outline pt-mb-5 pt-4"
              >
                <li><a href="#">Novinky</a></li>
                <li><a href="#">Súpiska</a></li>
                <li><a href="#">Zápasy</a></li>
                <li><a href="#">Tabuľky</a></li>
                <li><a href="#">Štatistiky</a></li>
                <li><a href="#">Realizačný tím</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-box accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="footerHeadingFan">
              <a
                href="#"
                class="text-base fw-semibold text-white-primary hover-outline d-block"
                >Fanúšik</a
              >
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#footerCollapseFan"
                aria-expanded="false"
                aria-controls="footerCollapseFan"
              ></button>
            </div>
            <div
              id="footerCollapseFan"
              class="accordion-collapse collapse"
              aria-labelledby="footerHeadingFan"
            >
              <ul
                class="text-white-secondary d-flex flex-column gap-4 text-xl hover-outline pt-mb-5 pt-4"
              >
                <li><a href="#">Dotáznik</a></li>
                <li><a href="#">Vstupné</a></li>
                <li><a href="#">Bonus+ klub</a></li>
                <li><a href="#">VIP</a></li>
                <li><a href="#">Rodinný sektor</a></li>
                <li><a href="#">Diskusia</a></li>
                <li><a href="#">Fanzóna</a></li>
                <li><a href="#">Kvíz</a></li>
                <li><a href="#">Sieň slávy</a></li>
                <li><a href="#">Fanshop</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-box accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="footerHeadingActivities">
              <a
                href="#"
                class="text-base fw-semibold text-white-primary hover-outline d-block"
                >Aktivity</a
              >
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#footerCollapseActivities"
                aria-expanded="false"
                aria-controls="footerCollapseActivities"
              ></button>
            </div>
            <div
              id="footerCollapseActivities"
              class="accordion-collapse collapse"
              aria-labelledby="footerHeadingActivities"
            >
              <ul
                class="text-white-secondary d-flex flex-column gap-4 text-xl hover-outline pt-mb-5 pt-4"
              >
                <li><a href="#">Silný región je silný klub</a></li>
                <li><a href="#">MŠK Camps</a></li>
                <li><a href="#">MŠK Education</a></li>
                <li><a href="#">Brankárska škola</a></li>
                <li><a href="#">Trénerská stáž</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-box accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="footerHeadingAcademy">
              <a
                href="#"
                class="text-base fw-semibold text-white-primary hover-outline d-block"
                >Akadémia</a
              >
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#footerCollapseAcademy"
                aria-expanded="false"
                aria-controls="footerCollapseAcademy"
              ></button>
            </div>
            <div
              id="footerCollapseAcademy"
              class="accordion-collapse collapse"
              aria-labelledby="footerHeadingAcademy"
            >
              <ul
                class="text-white-secondary d-flex flex-column gap-4 text-xl hover-outline pt-mb-5 pt-4"
              >
                <li><a href="#">Rozpis tréningov</a></li>
                <li><a href="#">Venuj 2%</a></li>
                <li><a href="#">O nás</a></li>
                <li><a href="#">Novinky</a></li>
                <li><a href="#">Tímy</a></li>
                <li><a href="#">MŠK vs Svet</a></li>
                <li><a href="#">Nábor</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-box accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="footerHeadingMultimedia">
              <a
                href="#"
                class="text-base fw-semibold text-white-primary hover-outline d-block"
                >Multimédia</a
              >
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#footerCollapseMultimedia"
                aria-expanded="false"
                aria-controls="footerCollapseMultimedia"
              ></button>
            </div>
            <div
              id="footerCollapseMultimedia"
              class="accordion-collapse collapse"
              aria-labelledby="footerHeadingMultimedia"
            >
              <ul
                class="text-white-secondary d-flex flex-column gap-4 text-xl hover-outline pt-mb-5 pt-4"
              >
                <li><a href="#">Šošon Play</a></li>
                <li><a href="#">Galéria</a></li>
                <li><a href="#">Bulletin</a></li>
                <li><a href="#">Mobílna aplikácia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex align-items-center flex-wrap gap-5 justify-content-between w-100"
    >
      <div class="text-xs text-white-secondary">© MŠK Žilina 2026</div>
      <ul
        class="text-xs text-white-secondary hover-outline d-flex align-items-center gap-5 flex-wrap"
      >
        <li>
          <a href="#"> Návštevný poriadok </a>
        </li>
        <li>
          <a href="#">Spracovanie osobných údajov</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
