.infoBoard {
  background: var(--text-white-primary);
  padding-bottom: 80px;

  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }
  .headerPage-tabs {
    background: var(--color-green-10);
  }
  .headerPage-tabs__btn {
    color: var(--text-black-primary);
    &:hover {
      color: var(--color-green);
    }
  }
  .headerPage-tabs__btn.active {
    background: var(--color-green);
    color: var(--text-white-primary);
  }
  .matchSlider {
    position: relative;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 24px;
    }

    .swiper-slide {
      height: auto;
    }

    .swipe-prev,
    .swipe-next {
      width: 40px;
      height: 40px;

      @include media-breakpoint-down(md) {
        width: 40px;
        height: 40px;
      }
    }

    .swipe-prev + .swipe-next {
      margin-left: 4px;
    }
  }
}

.infoBoard-table {
  td,
  th {
    font-size: 15px;
  }
  th {
    padding: 6px 8px;
  }
  th:first-child {
    padding-left: 8px;
  }
  td {
    padding: 6px 8px;
  }
  td:first-child {
    padding-left: 8px;
  }
}
