.infoBoard {
  background: var(--text-white-primary);
  padding-bottom: 80px;

  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }
  .headerPage-tabs {
    background: var(--color-green-10);
  }
  .headerPage-tabs__btn {
    color: var(--text-black-primary);
    &:hover {
      color: var(--color-green);
    }
  }
  .headerPage-tabs__btn.active {
    background: var(--color-green);
    color: var(--text-white-primary);
  }
  .matchSlider {
    position: relative;

    .swiper-slide {
      height: auto;
    }
  }
}

.infoBoard-table {
  td,
  th {
    font-size: 15px;
  }
  th {
    padding: 6px 8px;
  }
  th:first-child {
    padding-left: 8px;
  }
  td {
    padding: 6px 8px;
  }
  td:first-child {
    padding-left: 8px;
  }
}
.matchSliderWrap {
  position: relative;
  .matchSlider__btns {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    top: -16px;
    z-index: 9999;
  }
  .swipe-prev,
  .swipe-next {
    width: 40px;
    height: 40px;

    @include media-breakpoint-down(md) {
      width: 40px;
      height: 40px;
    }
  }
}
