:root {
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Actay Wide", sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-black-40: rgba(#000, 0.4);

  --text-white-secondary: #a2cab6;
  --text-white-primary: #fafcfb;
  --text-white-primary-10: rgba(250, 252, 251, 0.1);
  --text-white-primary-20: rgba(250, 252, 251, 0.2);

  --text-white-primary-50: rgba(250, 252, 251, 0.5);

  --text-black-primary: #000d05;
  --text-black-primary-50: rgba(0, 13, 5, 0.5);
  --text-black-secondary: #6e7b73;

  --color-yellow: #ffdd00;

  --color-green: #007330;
  --color-green-10: rgba(0, 115, 48, 0.1);
}
