<a href="#" class="staffCard">
  <img
    class="staffCard__img"
    src="images/content/staff.png"
    loading="lazy"
    alt="staff"
  />
  <div class="staffCard__content">
    <div class="text-white-primary mb-2 text-base fw-semibold">
      Sebastian Staňo
    </div>
    <div class="text-sm text-white-secondary">hlavný tréner</div>
  </div>
</a>
