{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/socialFeed/socialFeed.twig" %} {% include
  "@components/partnersSlider/partnersSlider.twig" %}
</main>

{% endblock %}
