{% extends "@components/base/base.twig" %} {% set title = "06.0_matches" %} {%
block main %}

<div
  class="headerPage"
  style="background-image: url('images/content/bg-page.png')"
>
  <div class="container">
    <div class="headerPage__inner">
      <div class="headerPage__content">
        <div class="d-flex gap-md-6 gap-4 mb-md-8 mb-6 align-items-center">
          <h1 class="h1 text-white-primary">Zápasy</h1>
          <button class="iconLink headerPage-scroll">
            {% include "@images/chevron-down.svg" %}
          </button>
        </div>

        <div
          class="d-flex align-items-center gap-4 justify-content-between flex-wrap"
        >
          <nav class="nav headerPage-tabs" id="nav-tab" role="tablist">
            <button
              class="headerPage-tabs__btn active"
              id="nav-ateam-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-ateam"
              type="button"
              role="tab"
              aria-controls="nav-ateam"
              aria-selected="true"
            >
              A-Tím
            </button>
            <button
              class="headerPage-tabs__btn"
              id="nav-bteam-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-bteam"
              type="button"
              role="tab"
              aria-controls="nav-bteam"
              aria-selected="false"
            >
              B-Tím
            </button>
            <button
              class="headerPage-tabs__btn"
              id="nav-women-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-women"
              type="button"
              role="tab"
              aria-controls="nav-women"
              aria-selected="false"
            >
              Ženy
            </button>
          </nav>

          <form action="">
            <select class="js-select" id="filterDate">
              <option selected>Všetky zápasy</option>
              <option>iba doma</option>
              <option>iba vonku</option>
              <option>všetko</option>
              <option>odohrané</option>
              <option>neodohrané</option>
              <option>ligový rozpis</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "@components/matches-section/matches-section.twig" %} {% endblock %}
