{% extends "@components/base/base.twig" %} {% set title = "08.0_static" %} {%
block main %}
{% include "@components/header/header-static.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/static-section/static-section.twig" %}
</main>
{% endblock %}
