{% extends "@components/base/base.twig" %} {% set title = "09.0_photogallery" %} {%
block main %}
{% include "@components/header/header-static.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/gallery-section/gallery-section.twig" %}
</main>
{% endblock %}
