{% extends "@components/base/base.twig" %} {% set title = "10.0_archive" %} {%
block main %} {% include "@components/header/header-static.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/archive-section/archive-section.twig" %}
</main>
{% endblock %}
