{% extends "@components/base/base.twig" %} {% set title = "12.0_article" %} {%
block main %}
{% include "@components/header/header-static.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/article-section/article-section.twig" %}
</main>
{% endblock %}
