{% extends "@components/base/base.twig" %} {% set title = "13.0_partners" %} {%
block main %} {% include "@components/header/header-static.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/partners-section/partners-section.twig" %}
</main>
{% endblock %}
