{% extends "@components/base/base.twig" %} {% set title = "14.0_player-detail"
%} {% block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/player-section/player-section.twig" %}
</main>
{% endblock %}
