{% extends "@components/base/base.twig" %} {% set title = "15.0_match-detail" %}
{% block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  <div
    class="headerPage matchDetail-header"
    style="background-image: url('images/content/bg-page.png')"
  >
    <div class="container">
      <div class="headerPage__inner">
        <div class="headerPage__content">
          <div class="matchItem">
            <div class="matchItem-content">
              <div class="matchItem-logo">
                <img src="images/ico/slovan-bratislava.svg" alt="DAC" />
              </div>

              <div class="matchItem-info">
                <div class="matchItem-result">0:1</div>
              </div>

              <div class="matchItem-logo">
                <img src="images/ico/logo.svg" alt="MŠK Žilina" />
              </div>
            </div>

            <ul
              class="mt-8 text-white-secondary d-flex justify-content-center flex-column align-items-center gap-2 text-center"
            >
              <li class="text-xl">29. Marca 2025</li>
              <li
                class="d-flex align-items-center gap-2 flex-wrap text-lg justify-content-center"
              >
                6. kolo nadstavby <span>·</span> Štadion MŠK
              </li>
            </ul>
          </div>
          <div class="matchItem-persons">
            <div class="text-xl-2 fw-medium text-white-primary">1586</div>
            <div class="text-white-secondary text-base">Diváci</div>
          </div>
          <div class="matchItem-persons">
            <div class="text-xl-2 fw-medium text-white-primary">
              Dohal-Kmec, <br />
              Hrebeňár
            </div>
            <div class="text-white-secondary text-base">Rozhodca</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "@components/matchDetail/matchDetail.twig" %}
</main>
{% endblock %}
