.gallery-section {
  padding-top: 116px;
  padding-bottom: 50px;

  @include media-breakpoint-down(lg) {
  }
  .navPagination-arrows {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
